<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- =========================BOX ICON============================ -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- =========================GOOGLE FONT============================ -->
    <link rel="stylesheet" href="css/addgallery.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="container-child">
            <div id="addgallery-title"><span style="font-size: 40px; font-weight: bold;">Thêm một bộ sưu tập</span></div>
            <div id="addgallery-des"><span  style="font-size: 24px; color:#333333">Tạo 1 bộ sưu tập mới với chủ đề hấp dẫn</span></div>
            <div id="addgallery-form">
                <div class="addgallery-form-child" id="name">
                    <label for=""><span class="addgallery-form-child-text">Tên hiển thị</span></label>
                    <input type="text" placeholder="    Nhập tên bộ sưu tập">
                </div>
                <div class="addgallery-form-child" id="des">
                    <label for=""><span class="addgallery-form-child-text">Mô tả</span> <span style="font-size: 20px; color: #969696;">(Không bắt buộc)</span></label>
                    <input type="text" placeholder="    Gợi ý 'Bộ sưu tập các khoảnh khắc tại lễ hội ma quái vừa qua' ">
                </div>
                <div class="addgallery-form-child-2" id="img-iconic">
                    <label for=""><span>Ảnh biểu trưng</span></label>
                    <div class="action">
                        <div class="img-iconic-image"><img src="img/4.png" alt=""></div>
                        <div class="img-iconic-form">
                            <div class="img-iconic-form-title"><span>Khuyến khích kích cỡ 300x300 pixels. Tối đa 5MB, GIF, JPEG or PNG</span></div>
                            <div class="img-iconic-form-btn"><button><span>Chọn tệp</span></div></button>
                        </div>
                    </div>
                </div>
                <div id="img-bieungu">
                    <label for=""><span style="  font-size: 24px;font-weight: bold;">Ảnh biểu ngữ</span></label>
                    <div id="img-bieungu-image"><img src="img/5.png" width="698" height="173" alt=""></div>
                    <div id="img-bieungu-title">
                        <span style="font-size: 20px;">Tải lên ảnh bìa mới. Chúng tôi khuyến nghị tải lên hình ảnh có độ phân giải 1440x260. Tối đa 15 MB ở định dạng JPEG hoặc PNG</span>
                    </div>
                    <div id="img-bieungu-btn">
                        <button><span>Chọn tệp</span></button>
                    </div>
                    </div>
                    <div class="addgallery-form-child-2" id="img-highlight">
                        <label for=""><span>Ảnh nổi bật</span></label>
                        <div class="action">
                            <div class="img-iconic-image"><img src="img/6.png" alt=""></div>
                            <div class="img-iconic-form">
                                <div class="img-iconic-form-title"><span>Khuyến khích kích cỡ 300x300 pixels. Tối đa 5MB, GIF, JPEG or PNG</span></div>
                                <div class="img-iconic-form-btn"><button><span>Chọn tệp</span></div></button>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div id="addgallery-form-btn"><button><span>Thêm bộ sưu tập</span></button></div>
            </div>
        </div>
    </div>
</body>
</html>