<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>demo3</title>
  <link rel="stylesheet" href="css/demo3.css">
  <!--==========================LINK CSS============================-->

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- =========================BOX ICON============================ -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- =========================GOOGLE FONT============================ -->
</head>
<body>
    
  <div id="duythai">

    <div class="container_duythai">
      <div class="menu_ul_duythai">
        <div class="menu_duythai">
          <ul>
            <li class="menu-li_duythai"><a style="color: black;" href="">Bộ sưu tập</a></li>
            <li class="menu-li_duythai"><a href="">Sản phẩm</a></li>
            <li class="menu-li_duythai"><a href="">Người dùng</a></li>
          </ul>
        </div>
      </div>

      <!-- ========================================================================== -->
      <div class=" margin-sections-at-home-page">
        <div class="display-flex align-items-center parent-box-input-check-floor-price supper-parent-box-input-check-floor-price">
          <div class="taphop-time-btn-filter display-flex align-items-center">
              <button class="btn-destroy time-btn-filter-at-trending-collections-at-page-home">1H</button>
              <button class="btn-destroy time-btn-filter-at-trending-collections-at-page-home box-input-bg-color-white">1D</button>
              <button class="btn-destroy time-btn-filter-at-trending-collections-at-page-home">7N</button>
              <button class="btn-destroy time-btn-filter-at-trending-collections-at-page-home">30D</button>
          </div>
          <div class="search_duythai">
              <div class="search_input_duythai"> 
                  <input type="search" placeholder="Tìm kiếm tên bộ sưu tập">
                  <i class='bx bx-search'></i>
              </div>
          </div>
          </div>
          <!-- ========================================================================== -->
          <div class="text-back display-flex  align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home">
            <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
                <div class="display-flex justify-content-center dauthang-rank">
                    #
                </div>
            </div>
            <div class="display-flex align-items-center col-margin-right-rank width-100phantram col-collections-at-trending-collections-page-home">
                <div class="display-flex col-margin-right-rank width-100phantram ">
                    BỘ SƯU TẬP
                </div>
            </div>
            <div class="display-flex align-items-center justify-content-space-between width-100phantram col-floor-at-trending-collections-page-home">
                <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                    GIÁ SÀN
                </div>
                <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                    SỰ THAY ĐỔI
                </div>
            </div>
            <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
                <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                    DOANH THU
                </div>
                <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                    SỰ THAY ĐỔI
                </div>
            </div>
            <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank ">
                <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                    ĐÃ BÁN
                </div>
            </div>
        </div>
        <!-- ========================================================================== -->
        <div class="new-collections-page-home all-collections-rank-trending-at-page-home">
        <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
          <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
              <div class="display-flex justify-content-center dauthang-rank">
                  1
              </div>
          </div>
          <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
              <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                  <div class="img-avt-collections-at-rank-table">
                      <img class="img-avt-collections-at-rank-table-main" src="img/img_demo2.2.png" alt="">
                  </div>
                  <div class="name-collections-at-rank-table">
                      OPEC RARAl
                  </div>
              </div>
          </div>
          <div class="display-flex align-items-center justify-content-space-between width-100phantram">
              <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                  <span>14</span>&nbsp;<span>Coins</span> 
              </div>
              <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                  <span>+</span><span>2.5</span><span>%</span>
              </div>
          </div>
          <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
              <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                  <span>800</span>&nbsp;<span>Coins</span> 
              </div>
              <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                  <span>-</span><span>2.5</span><span>%</span>
              </div>
          </div>
          <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
              <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                  <span>12</span><span>K</span>
              </div>
          </div>
      </div>
      <!-- ========================================================================== -->
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                2
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/img_demo2.3.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                    Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                3
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/img_demo2.4.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                4
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/img_demo3.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                5
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/img_demo3.1.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                6
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/img_demo3.2.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                7
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.3.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                8
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.4.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                9
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.5.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                10
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.6.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                11
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.7.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                12
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.8.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                13
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.9.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                14
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.10.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                15
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.11.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                16
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.12.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                17
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.13.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                18
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.14.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                19
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.15.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      <div class="display-flex align-items-center justify-content-space-between bangxephang-at-trending-collections-page-home row-rank-collections">
        <div class="display-flex align-items-center justify-content-space-between col-rank-at-trending-collections-page-home col-margin-right-rank">
            <div class="display-flex justify-content-center dauthang-rank">
                20
            </div>
        </div>
        <div class="display-flex align-items-center col-margin-right-rank width-100phantram">
            <div class="display-flex col-margin-right-rank width-100phantram align-items-center">
                <div class="img-avt-collections-at-rank-table">
                    <img class="img-avt-collections-at-rank-table-main" src="img/demo3.16.png" alt="">
                </div>
                <div class="name-collections-at-rank-table">
                  Pained IKYA YO
                </div>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-floor text-red">
                <span>+</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="display-flex align-items-center justify-content-space-between col-volume-at-trending-collections-page-home width-100phantram">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>14</span>&nbsp;<span>Coins</span> 
            </div>
            <div class="display-flex flex-end col-margin-right-rank width-100phantram tyle-thaydoi-volume text-green" >
                <span>-</span><span>2.5</span><span>%</span>
            </div>
        </div>
        <div class="col-selled-at-trending-collections-page-home display-flex flex-end col-margin-right-rank">
            <div class="display-flex flex-end col-margin-right-rank width-100phantram">
                <span>2</span><span>K</span>
            </div>
        </div>
      </div>
      </div>
      <!-- ========================================================================== -->
      <div class="span_duythai">
          <span><a href="">Tải thêm</a></span>
      </div>
        </div>
    </div>
  </div>
</body>
</html>