<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>demo4</title>
 <link rel="stylesheet" href="css/demo4.css">
  <!--==========================LINK CSS============================-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- =========================BOX ICON============================ -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- =========================GOOGLE FONT============================ -->
 
 
</head>

<body>

  <div id="duythai_id">
    <div class="container_duythai">
      <div class="content_duythai">
        <div class="item-wrapper_duythai">
          <div class="menu_ul_duythai">
            <div class="menu_duythai">
              <ul>
                <li class="menu-li_duythai"><a href="">Bộ sưu tập</a></li>
                <li class="menu-li_duythai"><a href="">Sản phẩm</a></li>
                <li class="menu-li_duythai"><a href="" style="color: black;">Người dùng</a></li>
              </ul>
            </div>
          </div>
<!-- ========================================================================== -->
          <div class="search_duythai">
            <div class="search_input_duythai"> 
                <input type="search" placeholder="Tìm kiếm tên người dùng">
                <i class='bx bx-search'></i>
            </div>
            <div class="right_duythai">
              <div class="theodoi_duythai">
                Lượt theo dõi
              </div>
              <i class='bx bx-chevron-down'></i>
            </div>
          </div>
<!-- ========================================================================== -->
          <div class="item_duythai">
            <div class="item-img_duythai">
              <img src="img/demo4.1.png" alt="" />
            </div>
            <div class="item-details_duythai">
              <div class="item-author_duythai">
                <img src="img/demo4.1.1.png" alt="">
                <span class="username_duythai">Captainz</span>
                
              </div>
              <div class="follow_duythai">29.6k Lượt theo dõi</div>
              <div class="follow-wrapper_duythai">
                <div class="follow">
                  <i class='bx bx-plus'></i>
                  <span>Follow</span>
                </div>
              </div>
            </div>
          </div>
<!-- ========================================================================== -->
          <div class="item_duythai">
            <div class="item-img_duythai">
              <img src="img/demo4.2.png" alt="" />
            </div>
            <div class="item-details_duythai">
              <div class="item-author_duythai">
                <img src="img/demo4.2.1.png" alt="">
                <span class="username_duythai">Alpha7music</span>
                
              </div>
              <div class="follow_duythai">23.2k Followers</div>
              <div class="follow-wrapper_duythai">
                <div class="follow">
                  <i class='bx bx-plus'></i>
                  <span>Follow</span>
                </div>
              </div>
            </div>
          </div>
<!-- ========================================================================== -->
          <div class="item_duythai">
            <div class="item-img_duythai">
              <img src="img/demo4.3.png" alt="" />
              <div class="item-icon gold"></div>
            </div>
            <div class="item-details_duythai">
              <div class="item-author_duythai">
                <img src="img/demo4.3.1.png" alt="">
                <span class="username_duythai">OCENE</span>
                
              </div>
              <div class="follow_duythai">23k Followers</div>
              <div class="follow-wrapper_duythai">
                <div class="follow">
                  <i class='bx bx-plus'></i>
                  <span>Follow</span>
                </div>
              </div>
            </div>
          </div>
<!-- ========================================================================== -->
          <div class="item_duythai">
            <div class="item-img_duythai">
              <img src="img/demo4.4.png" alt="" />
              <div class="item-icon gold"></div>
            </div>
            <div class="item-details_duythai">
              <div class="item-author_duythai">
                <img src="img/demo4.4.1.png" alt="">
                <span class="username_duythai">LIRONA</span>
                
              </div>
              <div class="follow_duythai">22.8k Followers</div>
              <div class="follow-wrapper_duythai">
                <div class="follow">
                  <i class='bx bx-plus'></i>
                  <span>Follow</span>
                </div>
              </div>
            </div>
          </div>
<!-- ========================================================================== -->
          <div class="item_duythai">
            <div class="item-img_duythai">
              <img src="img/demo4.5.png" alt="" />
              <div class="item-icon gold"></div>
            </div>
            <div class="item-details_duythai">
              <div class="item-author_duythai">
                <img src="img/demo4.5.1.png" alt="">
                <span class="username_duythai">METAGE</span>
                
              </div>
              <div class="follow_duythai">22.5k Followers</div>
              <div class="follow-wrapper_duythai">
                <div class="follow">
                  <i class='bx bx-plus'></i>
                  <span>Follow</span>
                </div>
              </div>
            </div>
          </div>
<!-- ========================================================================== -->
          <div class="item_duythai">
            <div class="item-img_duythai">
              <img src="img/demo4.6.png" alt="" />
              <div class="item-icon gold"></div>
            </div>
            <div class="item-details_duythai">
              <div class="item-author_duythai">
                <img src="img/demo4.6.1.png" alt="">
                <span class="username_duythai">Forexus</span>
                
              </div>
              <div class="follow_duythai">22.1k Followers</div>
              <div class="follow-wrapper_duythai">
                <div class="follow">
                  <i class='bx bx-plus'></i>
                  <span>Follow</span>
                </div>
              </div>
            </div>
          </div>
<!-- ========================================================================== -->
          <div class="item_duythai">
            <div class="item-img_duythai">
              <img src="img/demo4.7.png" alt="" />
              <div class="item-icon gold"></div>
            </div>
            <div class="item-details_duythai">
              <div class="item-author_duythai">
                <img src="img/demo4.7.1.png" alt="">
                <span class="username_duythai">Pranksy</span>
                
              </div>
              <div class="follow_duythai">20.2k Followers</div>
              <div class="follow-wrapper_duythai">
                <div class="follow">
                  <i class='bx bx-plus'></i>
                  <span>Follow</span>
                </div>
              </div>
            </div>
          </div>
<!-- ========================================================================== -->
          <div class="item_duythai">
            <div class="item-img_duythai">
              <img src="img/demo4.9.png" alt="" />
              <div class="item-icon gold"></div>
            </div>
            <div class="item-details_duythai">
              <div class="item-author_duythai">
                <img src="img/demo4.9.1.png" alt="">
                <span class="username_duythai">Scam Likely</span>
                
              </div>
              <div class="follow_duythai">19.8k Followers</div>
              <div class="follow-wrapper_duythai">
                <div class="follow">
                  <i class='bx bx-plus'></i>
                  <span>Follow</span>
                </div>
              </div>
            </div>
          </div>
<!-- ========================================================================== -->
          <div class="item_duythai">
            <div class="item-img_duythai">
              <img src="img/demo4.8.png" alt="" />
              <div class="item-icon gold"></div>
            </div>
            <div class="item-details_duythai">
              <div class="item-author_duythai">
                <img src="img/demo4.8.1.png" alt="">
                <span class="username_duythai">Dikasso</span>
                
              </div>
              <div class="follow_duythai">19.7k Followers</div>
              <div class="follow-wrapper_duythai">
                <div class="follow">
                  <i class='bx bx-plus'></i>
                  <span>Follow</span>
                </div>
              </div>
            </div>
          </div>
<!-- ========================================================================== -->
        </div>
      </div>
    </div>
  </div>
</body>

</html>